@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: hsl(168, 100%, 21%);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: hsl(174, 33%, 83%);
  border-radius: 50px;
}
